$logo-first-part: #2196f3;
$main-background-color: #ffffff;
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$button-main-color: #2196f3;
$button-focused-color: #188ce8;
$link-active-color: #2196f3;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
